In [14]:
from config import password
import pandas as pd

In [2]:
import sqlalchemy as sa

engine = sa.create_engine("postgresql://postgres:" + password + "@localhost:5432/Stellar_Classification")

In [3]:
# Load the sql extension:

%reload_ext sql

In [17]:
# Set up the connection:

%sql $engine.url

In [19]:
# Now we use the magic command %sql to make a SQL query to the table “Stellar” inside a database called “Stellar_Constellation”:

sample = %sql SELECT * FROM stellar LIMIT 100

# Turn SQL results into df
sample.DataFrame()

 * postgresql://postgres:***@localhost:5432/Stellar_Classification
100 rows affected.

,obj_id,alpha,delta,u,g,r,i,z,run_id,rerun_id,cam_col,field_id,spec_obj_id,class,redshift,plate,mjd,fiber_id
0,1.237661e+18,135.689107,32.494632,23.87882,22.27530,20.39501,19.16573,18.79371,3606,301,2,79,6.543777e+18,GALAXY,0.634794,5812,56354,171
1,1.237665e+18,144.826101,31.274185,24.77759,22.83188,22.58444,21.16812,21.61427,4518,301,5,119,1.176014e+19,GALAXY,0.779136,10445,58158,427
2,1.237661e+18,142.188790,35.582444,25.26307,22.66389,20.60976,19.34857,18.94827,3606,301,2,120,5.152200e+18,GALAXY,0.644195,4576,55592,299
3,1.237663e+18,338.741038,-0.402828,22.13682,23.77656,21.61162,20.50454,19.25010,4192,301,3,214,1.030107e+19,GALAXY,0.932346,9149,58039,775
4,1.237680e+18,345.282593,21.183866,19.43718,17.58028,16.49747,15.97711,15.54461,8102,301,3,137,6.891865e+18,GALAXY,0.116123,6121,56187,842
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1.237666e+18,348.335815,25.685581,23.93912,22.92743,21.78178,20.69582,19.83773,4822,301,3,437,8.675069e+18,GALAXY,0.686254,7705,57332,35
96,1.237671e+18,42.048515,32.466019,21.80150,18.61152,17.18664,16.54847,16.14959,5934,301,4,155,3.614186e+18,STAR,0.000037,3210,54876,173
97,1.237662e+18,169.417236,7.719850,25.08139,22.03635,21.83119,21.71758,21.24758,3841,301,5,31,6.045073e+18,STAR,0.000266,5369,56272,422
98,1.237662e+18,243.498908,4.309792,21.23949,20.39086,20.35097,20.25421,19.90627,3910,301,4,222,5.412459e+18,QSO,2.290692,4807,55687,940
99,1.237678e+18,44.374089,3.017933,25.76758,22.40062,20.49454,19.55738,19.04092,7675,301,6,164,4.793200e+18,GALAXY,0.524215,4257,55480,889