In [1]:
# Add Matplotlib inline magic command
%matplotlib inline

# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
#Read in csv as dataframe
df = pd.read_csv("Resources/star.csv")
df.head()

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,class,redshift,plate,MJD,fiber_ID
0,1.237661e+18,135.689107,32.494632,23.87882,22.27530,20.39501,19.16573,18.79371,3606,301,2,79,6.543777e+18,GALAXY,0.634794,5812,56354,171
1,1.237665e+18,144.826101,31.274185,24.77759,22.83188,22.58444,21.16812,21.61427,4518,301,5,119,1.176014e+19,GALAXY,0.779136,10445,58158,427
2,1.237661e+18,142.188790,35.582444,25.26307,22.66389,20.60976,19.34857,18.94827,3606,301,2,120,5.152200e+18,GALAXY,0.644195,4576,55592,299
3,1.237663e+18,338.741038,-0.402828,22.13682,23.77656,21.61162,20.50454,19.25010,4192,301,3,214,1.030107e+19,GALAXY,0.932346,9149,58039,775
4,1.237680e+18,345.282593,21.183866,19.43718,17.58028,16.49747,15.97711,15.54461,8102,301,3,137,6.891865e+18,GALAXY,0.116123,6121,56187,842

In [3]:
#(Rows, Columns)
df.shape

(100000, 18)

In [4]:
# Amount of Non-nulls and dtypes per column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 18 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   obj_ID       100000 non-null  float64
 1   alpha        100000 non-null  float64
 2   delta        100000 non-null  float64
 3   u            100000 non-null  float64
 4   g            100000 non-null  float64
 5   r            100000 non-null  float64
 6   i            100000 non-null  float64
 7   z            100000 non-null  float64
 8   run_ID       100000 non-null  int64
 9   rerun_ID     100000 non-null  int64
 10  cam_col      100000 non-null  int64
 11  field_ID     100000 non-null  int64
 12  spec_obj_ID  100000 non-null  float64
 13  class        100000 non-null  object
 14  redshift     100000 non-null  float64
 15  plate        100000 non-null  int64
 16  MJD          100000 non-null  int64
 17  fiber_ID     100000 non-null  int64
dtypes: float64(10), int64(7), object(1)
memory usage: 13.7+ MB

In [5]:
#Column names
df.columns

Index(['obj_ID', 'alpha', 'delta', 'u', 'g', 'r', 'i', 'z', 'run_ID',
       'rerun_ID', 'cam_col', 'field_ID', 'spec_obj_ID', 'class', 'redshift',
       'plate', 'MJD', 'fiber_ID'],
      dtype='object')

In [6]:
#Basic stats
df.describe().T

,count,mean,std,min,25%,50%,75%,max
obj_ID,100000.0,1.237665e+18,8.438560e+12,1.237646e+18,1.237659e+18,1.237663e+18,1.237668e+18,1.237681e+18
alpha,100000.0,1.776291e+02,9.650224e+01,5.527828e-03,1.275182e+02,1.809007e+02,2.338950e+02,3.599998e+02
delta,100000.0,2.413530e+01,1.964467e+01,-1.878533e+01,5.146771e+00,2.364592e+01,3.990155e+01,8.300052e+01
u,100000.0,2.198047e+01,3.176929e+01,-9.999000e+03,2.035235e+01,2.217914e+01,2.368744e+01,3.278139e+01
g,100000.0,2.053139e+01,3.175029e+01,-9.999000e+03,1.896523e+01,2.109983e+01,2.212377e+01,3.160224e+01
r,100000.0,1.964576e+01,1.854760e+00,9.822070e+00,1.813583e+01,2.012529e+01,2.104478e+01,2.957186e+01
i,100000.0,1.908485e+01,1.757895e+00,9.469903e+00,1.773228e+01,1.940514e+01,2.039650e+01,3.214147e+01
z,100000.0,1.866881e+01,3.172815e+01,-9.999000e+03,1.746068e+01,1.900460e+01,1.992112e+01,2.938374e+01
run_ID,100000.0,4.481366e+03,1.964765e+03,1.090000e+02,3.187000e+03,4.188000e+03,5.326000e+03,8.162000e+03
rerun_ID,100000.0,3.010000e+02,0.000000e+00,3.010000e+02,3.010000e+02,3.010000e+02,3.010000e+02,3.010000e+02
cam_col,100000.0,3.511610e+00,1.586912e+00,1.000000e+00,2.000000e+00,4.000000e+00,5.000000e+00,6.000000e+00
field_ID,100000.0,1.861305e+02,1.490111e+02,1.100000e+01,8.200000e+01,1.460000e+02,2.410000e+02,9.890000e+02
spec_obj_ID,100000.0,5.783882e+18,3.324016e+18,2.995191e+17,2.844138e+18,5.614883e+18,8.332144e+18,1.412694e+19
redshift,100000.0,5.766608e-01,7.307073e-01,-9.970667e-03,5.451684e-02,4.241733e-01,7.041543e-01,7.011245e+00
plate,100000.0,5.137010e+03,2.952303e+03,2.660000e+02,2.526000e+03,4.987000e+03,7.400250e+03,1.254700e+04
MJD,100000.0,5.558865e+04,1.808484e+03,5.160800e+04,5.423400e+04,5.586850e+04,5.677700e+04,5.893200e+04
fiber_ID,100000.0,4.493127e+02,2.724984e+02,1.000000e+00,2.210000e+02,4.330000e+02,6.450000e+02,1.000000e+03

In [7]:
#Amount of unique entries per column
df.nunique( )

obj_ID          78053
alpha           99999
delta           99999
u               93748
g               92651
r               91901
i               92019
z               92007
run_ID            430
rerun_ID            1
cam_col             6
field_ID          856
spec_obj_ID    100000
class               3
redshift        99295
plate            6284
MJD              2180
fiber_ID         1000
dtype: int64

In [8]:
#Correlation
df.corr( )

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,redshift,plate,MJD,fiber_ID
obj_ID,1.000000,-0.013735,-0.301237,0.015310,0.015710,0.153891,0.147670,0.013811,1.000000,NaN,-0.046997,0.031498,0.239461,0.065400,0.239460,0.262687,0.067178
alpha,-0.013735,1.000000,0.138691,-0.001532,-0.002423,-0.022083,-0.023580,-0.002918,-0.013737,NaN,0.019582,-0.165577,-0.002553,0.001667,-0.002554,0.019943,0.030464
delta,-0.301237,0.138691,1.000000,0.002074,0.003523,-0.006835,-0.004480,0.003630,-0.301238,NaN,0.032565,-0.173416,0.112329,0.031638,0.112329,0.107333,0.028250
u,0.015310,-0.001532,0.002074,1.000000,0.999311,0.054149,0.045730,0.998093,0.015309,NaN,0.003548,-0.008374,0.029997,0.014309,0.029997,0.031997,0.016305
g,0.015710,-0.002423,0.003523,0.999311,1.000000,0.062387,0.056271,0.999161,0.015710,NaN,0.003508,-0.008852,0.039443,0.022954,0.039443,0.040274,0.017470
r,0.153891,-0.022083,-0.006835,0.054149,0.062387,1.000000,0.962868,0.053677,0.153889,NaN,0.008480,-0.026423,0.655245,0.433241,0.655243,0.671180,0.223106
i,0.147670,-0.023580,-0.004480,0.045730,0.056271,0.962868,1.000000,0.055994,0.147668,NaN,0.007615,-0.026679,0.661641,0.492383,0.661640,0.672523,0.214787
z,0.013811,-0.002918,0.003630,0.998093,0.999161,0.053677,0.055994,1.000000,0.013811,NaN,0.003365,-0.008903,0.037813,0.030380,0.037813,0.037469,0.014668
run_ID,1.000000,-0.013737,-0.301238,0.015309,0.015710,0.153889,0.147668,0.013811,1.000000,NaN,-0.047098,0.031498,0.239460,0.065400,0.239459,0.262687,0.067165
rerun_ID,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cam_col,-0.046997,0.019582,0.032565,0.003548,0.003508,0.008480,0.007615,0.003365,-0.047098,NaN,1.000000,-0.015684,-0.001946,0.000097,-0.001949,-0.006745,0.121597
field_ID,0.031498,-0.165577,-0.173416,-0.008374,-0.008852,-0.026423,-0.026679,-0.008903,0.031498,NaN,-0.015684,1.000000,-0.083471,-0.021331,-0.083471,-0.095064,-0.012337
spec_obj_ID,0.239461,-0.002553,0.112329,0.029997,0.039443,0.655245,0.661641,0.037813,0.239460,NaN,-0.001946,-0.083471,1.000000,0.388642,1.000000,0.970167,0.241279
redshift,0.065400,0.001667,0.031638,0.014309,0.022954,0.433241,0.492383,0.030380,0.065400,NaN,0.000097,-0.021331,0.388642,1.000000,0.388641,0.387109,0.127044
plate,0.239460,-0.002554,0.112329,0.029997,0.039443,0.655243,0.661640,0.037813,0.239459,NaN,-0.001949,-0.083471,1.000000,0.388641,1.000000,0.970166,0.241258
MJD,0.262687,0.019943,0.107333,0.031997,0.040274,0.671180,0.672523,0.037469,0.262687,NaN,-0.006745,-0.095064,0.970167,0.387109,0.970166,1.000000,0.256970
fiber_ID,0.067178,0.030464,0.028250,0.016305,0.017470,0.223106,0.214787,0.014668,0.067165,NaN,0.121597,-0.012337,0.241279,0.127044,0.241258,0.256970,1.000000

In [9]:
df_star = df.loc[(df['class'] == 'STAR')]
df_star.head()

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,class,redshift,plate,MJD,fiber_ID
9,1.237671e+18,39.149691,28.102842,21.74669,20.03493,19.17553,18.81823,18.65422,5934,301,4,122,2.751763e+18,STAR,-0.000008,2444,54082,232
12,1.237681e+18,345.801874,32.672868,23.17274,20.14496,19.41948,19.22034,18.89359,8157,301,2,38,7.323011e+18,STAR,0.000072,6504,56540,574
16,1.237679e+18,353.201522,3.080796,24.54890,21.44267,20.95315,20.79360,20.48442,7712,301,5,284,4.822278e+18,STAR,-0.000429,4283,55864,178
18,1.237679e+18,14.383135,3.214326,21.82154,20.55730,19.94918,19.76057,19.55514,7712,301,5,425,9.855073e+18,STAR,-0.000440,8753,57373,258
21,1.237658e+18,144.785293,46.826496,24.54793,22.33601,20.92259,19.87177,19.16934,2821,301,2,28,8.237292e+18,STAR,-0.000120,7316,56710,756

In [10]:
df_star.count()

obj_ID         21594
alpha          21594
delta          21594
u              21594
g              21594
r              21594
i              21594
z              21594
run_ID         21594
rerun_ID       21594
cam_col        21594
field_ID       21594
spec_obj_ID    21594
class          21594
redshift       21594
plate          21594
MJD            21594
fiber_ID       21594
dtype: int64

In [11]:
df_galaxy= df.loc[(df['class'] == 'GALAXY')]
df_galaxy.sample(n=5)

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,class,redshift,plate,MJD,fiber_ID
98572,1.237679e+18,2.216231,9.538559,24.31687,25.08960,21.73928,20.50026,19.57942,7880,301,2,57,1.301656e+19,GALAXY,0.663095,11561,58485,105
13978,1.237655e+18,201.643690,58.647919,25.67577,26.29184,22.61278,20.57666,19.63181,2243,301,3,394,9.233723e+18,GALAXY,0.789226,8201,58146,793
45153,1.237679e+18,13.565315,5.727643,24.89520,25.14409,22.37024,21.14754,19.64890,7718,301,5,79,9.853929e+18,GALAXY,1.119862,8752,58402,193
92634,1.237668e+18,156.522653,21.304221,22.89090,22.72117,23.22610,22.61828,21.61803,5140,301,1,36,1.082331e+19,GALAXY,1.371635,9613,57865,131
33435,1.237652e+18,151.804882,64.071067,19.86024,17.84390,16.75183,16.23058,15.80983,1412,301,4,76,5.495241e+17,GALAXY,0.127953,488,51914,309

In [12]:
df_galaxy.count()

obj_ID         59445
alpha          59445
delta          59445
u              59445
g              59445
r              59445
i              59445
z              59445
run_ID         59445
rerun_ID       59445
cam_col        59445
field_ID       59445
spec_obj_ID    59445
class          59445
redshift       59445
plate          59445
MJD            59445
fiber_ID       59445
dtype: int64

In [13]:
df_quasar = df.loc[(df['class'] == 'QSO')]
df_quasar.head()

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,class,redshift,plate,MJD,fiber_ID
5,1.237680e+18,340.995121,20.589476,23.48827,23.33776,21.32195,20.25615,19.54544,8102,301,3,110,5.658977e+18,QSO,1.424659,5026,55855,741
6,1.237679e+18,23.234926,11.418188,21.46973,21.17624,20.92829,20.60826,20.42573,7773,301,2,462,1.246262e+19,QSO,0.586455,11069,58456,113
17,1.237679e+18,1.494389,3.291746,20.38562,20.40514,20.29996,20.05918,19.89044,7712,301,5,339,9.843824e+18,QSO,2.031528,8743,57663,295
23,1.237658e+18,145.883006,47.300484,21.73992,21.53095,21.26763,21.36257,21.15861,2821,301,2,33,8.228240e+18,QSO,2.075680,7308,56709,596
33,1.237679e+18,20.052556,11.497881,21.89214,21.35124,21.18755,20.84300,20.76580,7773,301,2,441,1.246830e+19,QSO,1.528308,11074,58488,306

In [14]:
df_quasar.count()

obj_ID         18961
alpha          18961
delta          18961
u              18961
g              18961
r              18961
i              18961
z              18961
run_ID         18961
rerun_ID       18961
cam_col        18961
field_ID       18961
spec_obj_ID    18961
class          18961
redshift       18961
plate          18961
MJD            18961
fiber_ID       18961
dtype: int64

In [ ]:
import seaborn as sns

for column in ['alpha', 'delta', 'u', 'g', 'r', 'i', 'z', 'redshift']:
    plt.figure(figsize=(12,6))
    sns.histplot(data=df, x=column, kde=True, hue='class')
    plt.title(column)
    plt.show()

## Qs

- Which filter in the photometric system is best for categorizing  Stars/Galaxies/Quasars?